* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

#header {
  width: 100%;
  height: 3.52rem;
  background: #fcfcfc; }

#header .book {
  position: relative;
  width: 100%;
  height: 1.7066666667rem;
  text-align: center; }

#header .book p {
  line-height: 1.7066666667rem;
  font-size: 0.4666666667rem;
  color: #2d2d2d;
  font-weight: 600; }

#header .book img {
  position: absolute;
  right: 0.84rem;
  top: 0.6666666667rem;
  width: 0.4533333333rem;
  height: 0.48rem; }

#header .table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: 1.8133333333rem; }

#header .table li {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap;
  width: 1.7066666667rem;
  height: 1.3333333333rem; }

#header .table p {
  font-size: 0.4266666667rem;
  color: #6b6b6b;
  font-weight: 600; }

#header .table .sbox {
  display: none;
  width: 0.8533333333rem;
  height: 0.1333333333rem;
  background: #fbd254; }

#containner {
  display: flex;
  justify-content: flex-end;
  flex-flow: column wrap;
  width: 100%;
  height: 10.7866666667rem;
  background: url(../../img/background1.png) no-repeat;
  background-size: 100%; }

#containner .font {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  height: 3.3333333333rem; }

#containner .font .one {
  font-size: 0.4666666667rem;
  color: #656565; }

#containner .font .two {
  font-size: 0.4266666667rem;
  color: #959595; }

#containner .font a {
  width: 5.2rem;
  height: 1.1466666667rem;
  text-align: center;
  line-height: 1.1466666667rem;
  border-radius: 0.1333333333rem;
  background: #ffcd54;
  font-size: 0.4666666667rem;
  color: #343919; }

.stand {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: 1.9466666667rem; }

.stand .aa {
  width: 1.6rem;
  height: 0.0133333333rem;
  background: #e3e3e3; }

.stand p {
  font-size: 0.4266666667rem;
  color: #646464; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

#header {
  width: 100%;
  height: 1.7066666667rem;
  background: #fd8b06; }

#header .nav {
  width: 100%;
  height: 0.5333333333rem; }

#header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: 1.1733333333rem; }

#header .title .stitle {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 8.6933333333rem;
  height: 1.1733333333rem; }

#header .title .stitle .jinniu {
  font-size: 0.4266666667rem;
  font-weight: 600;
  color: #f9f8f6; }

#header .title .stitle .search {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 4.2rem;
  height: 0.8933333333rem;
  border-radius: 0.4rem;
  background: #f9f8f6; }

#header .title .stitle .search input {
  width: 3.3333333333rem;
  height: 0.8933333333rem;
  border: 0;
  border-radius: 0.4rem;
  background: #f9f8f6;
  font-size: 0.3466666667rem;
  outline: 0; }

#header .title .stitle .search input::-webkit-input-placeholder {
  font-size: 0.3466666667rem; }

#header .title .stitle .search input:-moz-placeholder {
  font-size: 0.3466666667rem; }

#header .title .stitle .search input::-moz-placeholder {
  font-size: 0.3466666667rem; }

#header .title .stitle .search input:-ms-input-placeholder {
  font-size: 0.3466666667rem; }

.banner {
  width: 10rem;
  height: 3.28rem; }

.banner img {
  width: 100%;
  height: 100%; }

.grey {
  width: 100%;
  height: 0.5066666667rem;
  background: #eeecef; }

#table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: 4.6133333333rem;
  background: #fefefe; }

#table li {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-flow:column wrap;
  width: 23%;
  height: 2.16rem; }

#table li p {
  font-size: 0.4rem;
  font-weight: 600; }

.zhanshi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: 5.6rem;
  background: #eeeef0; }

.sbiao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: 0.6133333333rem;
  background: #fefefe; }

.sbiao .one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 2.28rem;
  height: 0.6133333333rem; }

.sbiao .another {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 1.5466666667rem;
  height: 0.6133333333rem; }

.sbiao p {
  font-size: 0.36rem;
  color: #454046; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

#header {
  width: 100%;
  height: 4.56rem;
  background: url(../../img/minebanner.png) no-repeat;
  background-size: 100%; }

#header .boxtitle {
  position: relative;
  width: 100%;
  height: 1.3866666667rem; }

#header .boxtitle .sbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  position: absolute;
  bottom: 0;
  right: 0.8533333333rem;
  width: 1.6rem;
  height: 0.6666666667rem; }

#header .boxbanner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 5.5333333333rem;
  height: 3.1733333333rem; }

#header .boxbanner .boxbanners {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 3.8933333333rem;
  height: 1.52rem; }

#header .boxbanner .boxbanners .font {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 2.0933333333rem;
  height: 1.52rem; }

#header .boxbanner .boxbanners .font .denglu {
  font-size: 0.56rem;
  font-weight: 600;
  color: #3d2f2f; }

#header .boxbanner .boxbanners .font .news {
  font-size: 0.4rem;
  font-weight: 600;
  color: #3d2f2f; }

.column {
  width: 100%;
  height: 0.3466666667rem;
  background: #efefef; }

#function {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: 5.44rem;
  background: #fff; }

#function .tab {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 8.3466666667rem;
  height: 5.44rem; }

#function .tab li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 2rem;
  height: 2.3466666667rem; }

#function .tab li p {
  font-size: 0.4rem;
  color: #090707; }

#feature {
  width: 100%;
  height: 5.0666666667rem;
  background: #fff; }

#feature .font {
  position: relative;
  width: 100%;
  height: 1.6666666667rem; }

#feature .font p {
  position: absolute;
  top: 30%;
  left: 0.8133333333rem;
  font-size: 0.4666666667rem;
  color: #090707; }

#feature .func {
  width: 100%;
  height: 3.4133333333rem; }

#feature .func .funcf {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 8.3466666667rem;
  height: 3.4133333333rem;
  border-top: 0.0133333333rem solid #6e6e6e; }

#feature .func .funcf li {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap; }

#feature .func .funcf li:last-child {
  width: 1.5289333333rem;
  height: 2.0666666667rem; }

#feature .func .funcf li .big {
  font-size: 0.4rem;
  font-weight: 600;
  color: #090707; }

#feature .func .funcf li .small {
  font-size: 0.3333333333rem;
  color: #aaa; }

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: 1.5333333333rem;
  background: #fcfcfc;
  z-index: 999; }

#footer li {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 1rem;
  height: 1.28rem; }

#footer li p {
  font-size: 0.36rem;
  color: #878588; }

#footer li:hover p {
  color: #da801f; }

.clone {
  width: 100%;
  height: 1.5333333333rem; }

/*# sourceMappingURL=sass.css.map */
